# Logs
logs
*.log

# Dependencies
node_modules

# Build
dist
dist-ssr
.cache
coverage

# Environment
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Misc
*.local